html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  position: absolute;
  content: "";
}

.wrapper {
  position: relative;
  display: flex;
  flex: 1 1 calc(100% / 3);
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  overflow: hidden;
}

@media (max-width: 960px) {
  .wrapper {
    flex: 1 1 calc(100% / 2);
  }
}

@media (max-width: 700px) {
  .wrapper {
    flex: 1 1 100%;
  }
}

.loading1 {
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-top-color: transparent;
  border-radius: 100%;
  animation: circle infinite 0.75s linear;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading2 {
  position: relative;
  width: 40px;
  height: 40px;
}

.loading2:before,
.loading2:after {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 100%;
  content: "";
}

.loading2:before {
  transform: translate(0, 0);
  animation: ball-circle-before infinite 1.5s linear;
}

.loading2:after {
  transform: translate(30px, 30px);
  animation: ball-circle-after infinite 1.5s linear;
}

@keyframes ball-circle-before {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(30px, 0);
  }

  50% {
    transform: translate(30px, 30px);
  }

  75% {
    transform: translate(0, 30px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes ball-circle-after {
  0% {
    transform: translate(30px, 30px);
  }

  25% {
    transform: translate(0, 30px);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(30px, 0);
  }

  100% {
    transform: translate(30px, 30px);
  }
}

.loading3 {
  position: relative;
  display: block;
  width: 6px;
  height: 10px;
  background-color: #000;
  animation: rectangle infinite 1s ease-in-out -0.2s;
}

.loading3:before,
.loading3:after {
  position: absolute;
  width: 6px;
  height: 10px;
  background-color: #000;
  content: "";
}

.loading3:before {
  left: -14px;
  animation: rectangle infinite 1s ease-in-out -0.4s;
}

.loading3:after {
  right: -14px;
  animation: rectangle infinite 1s ease-in-out;
}

@keyframes rectangle {
  0%,
  80%,
  100% {
    height: 20px;
    box-shadow: 0 0 #000;
  }

  40% {
    height: 30px;
    box-shadow: 0 -20px #000;
  }
}

.loading4 {
  position: relative;
  width: 50px;
  perspective: 200px;
}

.loading4:before,
.loading4:after {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  animation: jumping 0.5s infinite alternate;
  content: "";
}

.loading4:before {
  left: 0;
}

.loading4:after {
  right: 0;
  animation-delay: 0.15s;
}

@keyframes jumping {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1) translateY(0px) rotateX(0deg);
  }

  100% {
    background-color: #000;
    box-shadow: 0 25px 40px #000;
    transform: scale(1.2) translateY(-25px) rotateX(45deg);
  }
}

.loading5,
.loading5 > div {
  position: relative;
  box-sizing: border-box;
}

.loading5 {
  display: block;
  width: 42px;
  height: 32px;
  color: #000;
  font-size: 0;
}

.loading5 > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.loading5 > div:nth-child(1) {
  position: absolute;
  bottom: 32%;
  left: 18%;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  transform-origin: center bottom;
  animation: ball-climbing-dot-jump 0.6s ease-in-out infinite;
}

.loading5 > div:not(:nth-child(1)) {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 2px;
  border-radius: 0;
  transform: translate(60%, 0);
  animation: ball-climbing-dot-steps 1.8s linear infinite;
}

.loading5 > div:not(:nth-child(1)):nth-child(2) {
  animation-delay: 0ms;
}

.loading5 > div:not(:nth-child(1)):nth-child(3) {
  animation-delay: -600ms;
}

.loading5 > div:not(:nth-child(1)):nth-child(4) {
  animation-delay: -1200ms;
}

@keyframes ball-climbing-dot-jump {
  0% {
    transform: scale(1, 0.7);
  }

  20% {
    transform: scale(0.7, 1.2);
  }

  40% {
    transform: scale(1, 1);
  }

  46% {
    transform: scale(1, 1);
  }

  50% {
    bottom: 125%;
  }

  80% {
    transform: scale(0.7, 1.2);
  }

  90% {
    transform: scale(0.7, 1.2);
  }

  100% {
    transform: scale(1, 0.7);
  }
}

@keyframes ball-climbing-dot-steps {
  0% {
    top: 0;
    right: 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    top: 100%;
    right: 100%;
    opacity: 0;
  }
}

.loading6,
.loading6 > div {
  position: relative;
  box-sizing: border-box;
}

.loading6 {
  display: block;
  width: 8px;
  height: 8px;
  color: #000;
  font-size: 0;
}

.loading6 > div {
  position: absolute;
  display: inline-block;
  float: none;
  width: 12px;
  height: 12px;
  background-color: currentColor;
  border: 0 solid currentColor;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  animation: ball-fussion-ball1 1s 0s ease infinite;
}

.loading6 > div:nth-child(1) {
  top: 0;
  left: 50%;
  z-index: 1;
}

.loading6 > div:nth-child(2) {
  top: 50%;
  left: 100%;
  z-index: 2;
  animation-name: ball-fussion-ball2;
}

.loading6 > div:nth-child(3) {
  top: 100%;
  left: 50%;
  z-index: 1;
  animation-name: ball-fussion-ball3;
}

.loading6 > div:nth-child(4) {
  top: 50%;
  left: 0;
  z-index: 2;
  animation-name: ball-fussion-ball4;
}

@keyframes ball-fussion-ball1 {
  0% {
    opacity: 0.35;
  }

  50% {
    top: -100%;
    left: 200%;
    opacity: 1;
  }

  100% {
    top: 50%;
    left: 100%;
    z-index: 2;
    opacity: 0.35;
  }
}

@keyframes ball-fussion-ball2 {
  0% {
    opacity: 0.35;
  }

  50% {
    top: 200%;
    left: 200%;
    opacity: 1;
  }

  100% {
    top: 100%;
    left: 50%;
    z-index: 1;
    opacity: 0.35;
  }
}

@keyframes ball-fussion-ball3 {
  0% {
    opacity: 0.35;
  }

  50% {
    top: 200%;
    left: -100%;
    opacity: 1;
  }

  100% {
    top: 50%;
    left: 0;
    z-index: 2;
    opacity: 0.35;
  }
}

@keyframes ball-fussion-ball4 {
  0% {
    opacity: 0.35;
  }

  50% {
    top: -100%;
    left: -100%;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 50%;
    z-index: 1;
    opacity: 0.35;
  }
}
