# C
/programming/code/small_project/base_conversion/build
/programming/code/small_project/generate_random_password/build

# Python
__pycache__

# NPM
node_modules

# LaTeX
/programming/documentation/subject/fundamentals_of_electronic_technology/latex/*
!/programming/documentation/subject/fundamentals_of_electronic_technology/latex/image/
!/programming/documentation/subject/fundamentals_of_electronic_technology/latex/template.tex
/non-programming/math/discrete_mathematics/latex/*
!/non-programming/math/discrete_mathematics/latex/template.tex

# VS Code
.vscode

# System Files
.DS_Store

# Confidential Data Files
/programming/code/small_project/ocr/api_key.json
