# C
build

# Python
__pycache__

# NPM
node_modules

# LaTeX
template.aux
template.log
template.pdf
template.synctex.gz

# VS Code
.vscode

# System Files
.DS_Store

# Confidential Data Files
api_key.json
