<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CustomerMapper">
  <resultMap id="selectCustomerWithOrderListResultMap" type="customer">
    <id column="customer_id" property="customerId" />
    <result column="customer_name" property="customerName" />

    <collection property="orderList" ofType="order">
      <id column="order_id" property="orderId" />
      <result column="order_name" property="orderName" />
      <result column="customer_id" property="customerId" />
    </collection>
  </resultMap>

  <select id="selectCustomerWithOrderList" resultMap="selectCustomerWithOrderListResultMap">
    select customers.customer_id, customer_name, order_id, order_name, orders.customer_id
    from customers left join orders on customers.customer_id=orders.customer_id where customers.customer_id=#{customerId}
  </select>
</mapper>
