<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <settings>
    <setting name="logImpl" value="STDOUT_LOGGING" />
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="autoMappingBehavior" value="FULL" />
  </settings>

  <typeAliases>
    <package name="com.example.entity" />
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/dbforspring" />
        <property name="username" value="root" />
        <property name="password" value="123456" />
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <!--
    <mapper resource="mappers/CustomerMapper.xml" />
    <mapper resource="mappers/OrderMapper.xml" />
    -->
    <!--
      使用批量映射
        实现批量映射的要求：
          1.Mapper 接口和 Mapper 配置文件的名称要一致，例如 CustomerMapper.java 和 CustomerMapper.xml
          2.Mapper 配置文件放在 Mapper 接口所在包内，两种实现方式：
            1. 可将所有 Mapper 配置文件从 resources/mappers 目录移动到 java/com/example/mapper 目录下（不推荐）
            2. 可以在 resources 下新建 com/example/mapper 文件夹，并将所有 Mapper 配置文件放在该文件夹下（推荐）
    -->
    <package name="com.example.mapper" />
  </mappers>

</configuration>
