body {
  background-color: rgb(245, 245, 245);
}

.container {
  background-color: white;
}

.container .mycard:not(:last-child) {
  margin-bottom: 1em;
}

.container .mycard:last-child {
  margin-bottom: 0.5em;
}

.mycard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

a {
  width: 80px;
}
