<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- FactoryBean 机制 -->
  <!-- 这个 bean 标签中 class 属性指定的是 HappyFactoryBean，但是将来从这里获取的 bean 是 HappyMachine 对象 -->
  <bean id="happyMachine" class="com.example.fb.HappyFactoryBean">
    <!-- property 标签仍然可以用来通过 setXxx() 方法给属性赋值 -->
    <property name="machineName" value="iceCreamMachine"/>
  </bean>

</beans>
