<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

  <!-- 导入外部属性文件 -->
  <context:property-placeholder location="classpath:jdbc.properties" />

  <!-- 配置数据源 -->
  <bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource">
    <property name="url" value="${example.url}"/>
    <property name="driverClassName" value="${example.driver}"/>
    <property name="username" value="${example.username}"/>
    <property name="password" value="${example.password}"/>
  </bean>

  <!-- 配置 JdbcTemplate -->
  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <!-- 装配数据源 -->
    <property name="dataSource" ref="druidDataSource"/>
  </bean>

  <bean id="studentDao" class="com.example.dao.impl.StudentDaoImpl">
    <property name="jdbcTemplate" ref="jdbcTemplate" />
  </bean>

  <bean id="studentService" class="com.example.service.impl.StudentServiceImpl">
    <property name="studentDao" ref="studentDao" />
  </bean>

  <bean id="studentController" class="com.example.controller.StudentController">
    <property name="studentService" ref="studentService" />
  </bean>

</beans>
